# HTTP Basic Auth — protects the web interface, choose any values
HTTP_AUTH_USERNAME=admin
HTTP_AUTH_PASSWORD=changeme

# Active Record Encryption keys — regenerate once with: bin/rails db:encryption:init
AR_ENCRYPTION_PRIMARY_KEY=BX3lotydTBNNIxmu5RYmNFRVQbmzphL5
AR_ENCRYPTION_DETERMINISTIC_KEY=dIYVKf5qlgM1MiLajdH75styat9Opowo
AR_ENCRYPTION_KEY_DERIVATION_SALT=roNnroBZCd8TaAKfrobnRy0nLcUxj149

# Regenerate with: `bin/rails secret`
SECRET_KEY_BASE=4ecab9b8565c76e4208d4ed3effae46e36bee10f7c105e85e6c13d374b6aaaf0ef83d6ac0cb8e065160616ddf6e1606b7bfee6277ab386dae4e8320400369e89